/* All Common Css Start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

.container {
  width: 1360px;
  margin: auto;
}

/* All Common Css  End*/

.singLogin {
  display: flex;
  justify-content: space-between;
  background: #2a2a2ae5;
  color: aliceblue;
  padding: 10px;

  & p {
    font-size: 22px;
  }

  & .slbutton {
    width: 130px;
    justify-content: space-between;
    display: flex;

  }

  button {
    font-size: 18px;
    padding: 5px;
    border-radius: 8px;

    & a {
      color: black;
    }
  }
}

.nabver {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.nabverH1 {
  font-size: 40px;
  border: 3px solid black;
  background: -webkit-linear-gradient(#c1baba, #232323);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 5px;
}

.nabverUl {
  font-size: 24px;
  width: 400px;
  justify-content: space-between;
  align-items: center;
}

.nabverUl li a {
  color: black;
  text-decoration: none;
}

.nabverUl li #listCardValue {
  background: #1b1b1b;
  color: white;
  font-size: 18px;
  padding: 10px 30px;
  border-radius: 5px;
}

.bars {
  display: none;
  font-size: 30px;

  & i {
    width: 100%;
    height: 100%;
  }
}

/* bennar bart start  */
main {
  margin-top: 10px;
  height: 700px;
  position: relative;
  background-image: linear-gradient(to top right, #3d86fa, #4484fb, #679eff, #b3d2ff, #ebf3fe)
}

.bennar {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;

  & .contain {
    width: 55%;
    margin-top: 100px;
  }

  & .contain h1 {
    color: #0c67fa;
    font-size: 56px;
  }

  & .contain p {
    color: white;
    margin: 20px 0;
  }

  & .contain button {
    background: #181818;
    padding: 15px;
    border-radius: 10px;
    font-size: 16px;
    color: white;
  }

  & img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    margin-top: 100px;
  }

}

/* for bennar image animation start */
.animationImag {
  animation: fadeInAnimation ease 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
  }

  40% {
    transform: translateY(0);
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }

  100% {
    transform: translateY(0);
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

/* for bennar image animation end */

/* animation part */
.editorial {
  display: block;
  width: 100%;
  height: 100px;
  margin: 0;
  z-index: 5;
  bottom: 0;
  position: absolute;
}

.parallax1>use {
  animation: move-forever1 10s linear infinite;

  &:nth-child(1) {
    animation-delay: -2s;
  }
}

.parallax2>use {
  animation: move-forever2 8s linear infinite;

  &:nth-child(1) {
    animation-delay: -20s;
  }
}

.parallax3>use {
  animation: move-forever3 6s linear infinite;

  &:nth-child(1) {
    animation-delay: -20s;
  }
}

.parallax4>use {
  animation: move-forever4 4s linear infinite;

  &:nth-child(1) {
    animation-delay: -20s;
  }
}

@keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }

  100% {
    transform: translate(-90px, 0%);
  }
}

@keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }

  100% {
    transform: translate(85px, 0%);
  }
}

@keyframes move-forever3 {
  0% {
    transform: translate(85px, 0%);
  }

  100% {
    transform: translate(-90px, 0%);
  }
}

@keyframes move-forever4 {
  0% {
    transform: translate(-90px, 0%);
  }

  100% {
    transform: translate(85px, 0%);
  }
}

/* bennar bart end */

/* Product part start  */
.productT {
  font-size: 40px;
  margin-top: 80px;
  display: inline-block;
  border-bottom: 1px solid #838383;
}

.procductContainer {
  margin-top: 60px;
  display: grid;
  justify-content: space-between;
  grid-template-columns: auto auto auto;
  gap: 40px;
}

.cards {
  width: 420px;
  /* height: 500px; */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.376);

  & .information {
    width: 100%;
    height: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    & span {
      background: black;
      color: white;
      padding: 5px;
      font-size: 14px;
      border-radius: 5px;
    }

    & .imgContainer img {
      width: 100%;
      height: 330px;
      margin: 15px 0;

      & img {
        width: 100%;
        height: 100%;
      }

    }

    & .productName {
      margin-bottom: 5px;
    }

    & .productDescribtion {
      color: #838383;
      margin: 10px 0;
    }

    & .pricrElm {
      display: flex;
      width: 40%;
      justify-content: space-between;
      font-size: 22px;
    }

    & .productQuantityElm {
      align-items: center;
      display: flex;
      justify-content: space-between;
      font-size: 18px;

      & .stoctElm {
        display: flex;
      }

      & .stoctElm button {
        border: 1px solid #232323;
        padding: 5px;
        font-size: 18px;
        font-weight: 700;
        width: 60px;
      }

      & .stoctElm p {
        border: 1px solid #232323;
        padding: 5px;
        font-weight: 700;
        width: 60px;
        text-align: center;
      }
    }

    & .addTocart {
      background: #1a1a1a;
      color: whitesmoke;
      padding: 15px 25px;
      border-radius: 5px;
      margin-top: 10px;
    }

    & .productRting i {
      color: rgb(255, 206, 27);
      font-size: 10px;
    }
  }
}


/* Product part end  */

.cards {

  &,
  & * {
    box-sizing: border-box;
    transition: 400ms;
  }

  backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-right-color: rgba(255, 255, 255, 0.1);
  border-bottom-color: rgba(255, 255, 255, 0.1);
  position: relative;
  @include flex-center;
  flex-direction: column;
}

.cards:hover {
  transform: translateY(-25px);
}

.cards:hover img {
  transform: translate(-10px, -20px) rotate(-5deg) scale(1.2);
}

.animationCart {
  background: #160909;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 2px 5px 20px #1a1a1a7e;
  position: fixed;
  top: 50px;
  right: 0;
  animation: animationCart 2s linear;
  -webkit-animation: animationCart 2s linear;
}

@keyframes animationCart {
  0% {
    transform: translateX(100%);
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }

  20% {
    transform: translateX(0);
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

.animationCart2 {
  background-image: linear-gradient(to top right, #3d85fa, #4484fb, #679fffce, #b3d1ffc0);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 2px 5px 20px #1a1a1a7e;
  position: fixed;
  top: 0;
  right: 0;
  animation: animationCart 2s linear;
  -webkit-animation: animationCart 2s linear;
}

@keyframes animationCart2 {
  0% {
    transform: translateX(100%);
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }

  20% {
    transform: translateX(0);
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}





/* Footer Part Start */
footer {
  background-color: #333;
  color: #fff;
  padding: 30px 0;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-section {
  padding: 20px;
}

.footer-section h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.contact span {
  display: block;
  margin-bottom: 10px;
}

.links ul {
  list-style: none;
  padding: 0;
}

.links li {
  margin-bottom: 10px;
}

.links li imgContainera {
  text-decoration: none;
}

.social-links a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
  font-size: 24px;
}

.footer-bottom {
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #666;
  font-size: 14px;
}

/* Footer Part End */


.search {
  padding: 10px;
  width: 350px;
  outline: none;
  border: 2px solid black;
  border-radius: 5px;
}

.small {
  display: none;
  background-image: linear-gradient(to top right, #3d85fa, #4484fb, #679fffce, #b3d1ffc0);
  border-top-right-radius: 15px;
}


/* Responsive Part Start */
@media(width <=1360px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }

  .ProductPart {
    margin: 0 auto;
    width: 100%;
  }

  main {
    margin-top: 10px;
    height: 600px;
    width: 100%;
  }

  /* bennar part start */
  .bennar {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;

    & .contain {
      width: 60%;
      margin-top: 100px;
    }

    & .contain p {
      color: white;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      margin: 20px 0;
    }

  }

  /* bennar part end */

  /* cards part start */
  .cards {
    width: 380px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.376);
  }

  /* cards part start */
}

@media(width <=1240px) {
  .container {
    padding: 20px;
  }

  /* cards part start */
  .cards {
    width: 350px;
  }

  /* cards part start */
}

@media(width <=1140px) {
  .nabver {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
  }

  .nabverH1 {
    font-size: 40px;
    border: 3px solid black;
    background: -webkit-linear-gradient(#c1baba, #232323);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 5px;
  }

  .nabverUl {
    font-size: 24px;
    width: 400px;
    justify-content: space-between;
    align-items: center;
    display: block;
  }

  .nabverUl li a {
    color: black;
    text-decoration: none;
  }

  .nabverUl li #listCardValue {
    background: #1b1b1b;
    color: white;
    font-size: 18px;
    padding: 10px 30px;
    border-radius: 5px;
  }

  main {
    height: 550px;
    margin-top: 0;
  }

  .bennar {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;

    & .contain {
      width: 60%;
      margin-top: 60px;
    }

    & .contain h1 {
      color: #0c67fa;
      font-size: 45px;
    }

    & .contain p {
      color: white;
      margin: 15px 0;
    }

    & .contain button {
      background: #181818;
      padding: 15px;
      border-radius: 10px;
      font-size: 16px;
      color: white;
    }

    & img {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      margin-top: 60px;
    }

  }

  /* cards part start */
  .cards {
    width: 330px;
    /* height: 500px; */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.376);

    & .information {
      width: 100%;
      height: 100%;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

      & span {
        background: black;
        color: white;
        padding: 5px;
        font-size: 14px;
        border-radius: 5px;
      }

      & .imgContainer img {
        width: 100%;
        height: 280px;
        margin: 15px 0;

        & img {
          width: 100%;
          height: 100%;
        }

      }

      & .productName {
        margin-bottom: 5px;
      }

      & .productDescribtion {
        color: #838383;
        margin: 8px 0;
      }

      & .pricrElm {
        display: flex;
        width: 40%;
        justify-content: space-between;
        font-size: 20px;
      }

      & .productQuantityElm {
        align-items: center;
        display: flex;
        justify-content: space-between;
        font-size: 16px;

        & .stoctElm {
          display: flex;
        }

        & .stoctElm button {
          border: 1px solid #232323;
          padding: 5px;
          font-size: 16px;
          font-weight: 700;
          width: 50px;
        }

        & .stoctElm p {
          border: 1px solid #232323;
          padding: 5px;
          font-weight: 700;
          width: 50px;
          text-align: center;
        }
      }

      & .addTocart {
        background: #1a1a1a;
        color: whitesmoke;
        padding: 10px 20px;
        border-radius: 5px;
        margin-top: 8px;
      }

      & .productRting i {
        color: rgb(255, 206, 27);
        font-size: 10px;
      }
    }
  }


  /* cards part start */
}

@media(width <=1100px) {

  /* cards part start */
  .cards {
    width: 300px;
    /* height: 500px; */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.376);

    & .information {
      width: 100%;
      height: 100%;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

      & span {
        background: black;
        color: white;
        padding: 5px;
        font-size: 14px;
        border-radius: 5px;
      }

      & .imgContainer img {
        width: 100%;
        height: 250px;
        margin: 10px 0;

        & img {
          width: 100%;
          height: 100%;
        }

      }

      & .productName {
        margin-bottom: 0px;
        font-size: 22px;
      }

      & .productDescribtion {
        color: #838383;
        margin: 5px 0;
        font-size: 14px;
      }

      & .pricrElm {
        display: flex;
        width: 40%;
        justify-content: space-between;
        font-size: 16px;
      }

      & .productQuantityElm {
        align-items: center;
        display: flex;
        justify-content: space-between;
        font-size: 14px;

        & .stoctElm {
          display: flex;
        }

        & .stoctElm button {
          border: 1px solid #232323;
          padding: 3px;
          font-size: 16px;
          font-weight: 700;
          width: 45px;
        }

        & .stoctElm p {
          border: 1px solid #232323;
          padding: 3px;
          font-weight: 700;
          width: 45px;
          text-align: center;
        }
      }

      & .addTocart {
        background: #1a1a1a;
        color: whitesmoke;
        padding: 10px 20px;
        border-radius: 5px;
        margin-top: 8px;
      }

      & .productRting i {
        color: rgb(255, 206, 27);
        font-size: 10px;
      }
    }
  }

  /* cards part start */
}

@media(width <=1024px) {
  .bennar {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;

    & .contain {
      width: 60%;
      margin-top: 50px;
    }

    & .contain h1 {
      color: #0c67fa;
      font-size: 45px;
    }

    & .contain p {
      color: white;
      margin: 15px 0;
    }

    & .contain button {
      background: #181818;
      padding: 15px;
      border-radius: 10px;
      font-size: 16px;
      color: white;
    }

    & img {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      margin-top: 50px;
    }

  }

  .procductContainer {
    grid-template-columns: auto auto;
  }

  .container {
    padding: 20px 50px;
  }

  /* cards part start */
  .cards {
    width: 400px;
    /* height: 500px; */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.376);

    & .information {
      width: 100%;
      height: 100%;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

      & span {
        background: black;
        color: white;
        padding: 5px;
        font-size: 14px;
        border-radius: 5px;
      }

      & .imgContainer img {
        width: 100%;
        height: 330px;
        margin: 15px 0;

        & img {
          width: 100%;
          height: 100%;
        }

      }

      & .productName {
        margin-bottom: 5px;
      }

      & .productDescribtion {
        color: #838383;
        margin: 10px 0;
      }

      & .pricrElm {
        display: flex;
        width: 40%;
        justify-content: space-between;
        font-size: 22px;
      }

      & .productQuantityElm {
        align-items: center;
        display: flex;
        justify-content: space-between;
        font-size: 18px;

        & .stoctElm {
          display: flex;
        }

        & .stoctElm button {
          border: 1px solid #232323;
          padding: 5px;
          font-size: 18px;
          font-weight: 700;
          width: 60px;
        }

        & .stoctElm p {
          border: 1px solid #232323;
          padding: 5px;
          font-weight: 700;
          width: 60px;
          text-align: center;
        }
      }

      & .addTocart {
        background: #1a1a1a;
        color: whitesmoke;
        padding: 15px 25px;
        border-radius: 5px;
        margin-top: 10px;
      }

      & .productRting i {
        color: rgb(255, 206, 27);
        font-size: 10px;
      }
    }
  }


  /* cards part start */
}

@media(width <=930px) {
  main {
    height: 500px;
    margin-top: 0;
  }

  .bennar {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;

    & .contain {
      width: 60%;
      margin-top: 50px;
    }

    & .contain h1 {
      color: #0c67fa;
      font-size: 35px;
    }

    & .contain p {
      color: white;
      margin: 15px 0;
      font-size: 14px;
    }

    & .contain button {
      background: #181818;
      padding: 10px;
      border-radius: 10px;
      font-size: 16px;
      color: white;
    }

    & img {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      margin-top: 50px;
    }

  }

  .container {
    padding: 10px 30px;
  }

  /* cards part start */
  .cards {
    width: 380px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.376);
  }

  /* cards part start */
}

@media(width <=860px) {
  .container {
    padding: 10px 40px;
  }

  /* cards part start */
  .cards {
    width: 325px;
    /* height: 500px; */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.376);

    & .information {
      width: 100%;
      height: 100%;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

      & span {
        background: black;
        color: white;
        padding: 5px;
        font-size: 14px;
        border-radius: 5px;
      }

      & .imgContainer img {
        width: 100%;
        height: 250px;
        margin: 10px 0;

        & img {
          width: 100%;
          height: 100%;
        }

      }

      & .productName {
        margin-bottom: 0px;
        font-size: 22px;
      }

      & .productDescribtion {
        color: #838383;
        margin: 5px 0;
        font-size: 14px;
      }

      & .pricrElm {
        display: flex;
        width: 40%;
        justify-content: space-between;
        font-size: 16px;
      }

      & .productQuantityElm {
        align-items: center;
        display: flex;
        justify-content: space-between;
        font-size: 14px;

        & .stoctElm {
          display: flex;
        }

        & .stoctElm button {
          border: 1px solid #232323;
          padding: 3px;
          font-size: 16px;
          font-weight: 700;
          width: 45px;
        }

        & .stoctElm p {
          border: 1px solid #232323;
          padding: 3px;
          font-weight: 700;
          width: 45px;
          text-align: center;
        }
      }

      & .addTocart {
        background: #1a1a1a;
        color: whitesmoke;
        padding: 10px 20px;
        border-radius: 5px;
        margin-top: 8px;
      }

      & .productRting i {
        color: rgb(255, 206, 27);
        font-size: 10px;
      }
    }
  }

  /* cards part start */
}

@media(width <=768px) {
  main {
    height: 510px;
    margin-top: 0;
    overflow: hidden;
  }

  .bennar {
    display: grid;
    grid-template-columns: auto;
    align-items: center;

    & .contain {
      width: 70%;
      text-align: center;
      margin: 15px auto;
    }

    & .contain h1 {
      color: #0c67fa;
      font-size: 40px;
    }

    & .contain p {
      color: white;
      margin: 15px 0;
      font-size: 16px;
    }

    & .contain button {
      background: #181818;
      padding: 10px;
      border-radius: 10px;
      font-size: 14px;
      color: white;
    }

    & img {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 50%;
      margin: auto;
    }

  }

  .editorial {
    display: block;
    width: 100%;
    height: 70px;
    margin: 0;
    z-index: 5;
    bottom: 0;
    position: absolute;
  }

  .container {
    padding: 10px;
  }

  /* cards part start */
  .cards {
    width: 320px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.376);
  }

  /* cards part start */
}

@media(width <=700px) {

  /* cards part start */
  .cards {
    width: 310px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.376);
  }

  /* cards part start */
}

@media(width <=680px) {
  .rust {
    display: none;
  }

  .nabverH1 {
    margin: auto;
  }

  .bars {
    display: block;
  }

  .small {
    position: fixed;
    z-index: 100;
    width: 50%;
    height: 100%;
    top: 0;
  }

  .samllUL {
    font-size: 24px;
    width: 400px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    display: grid;
    gap: 15px;

    & li {
      border-bottom: 1px solid black;
      width: 400px;
      padding: 15px;
    }

    & li a {
      color: black;
      text-decoration: none;
    }

    & li #listCardValue {
      background: #1b1b1b;
      color: white;
      font-size: 18px;
      padding: 10px 30px;
      border-radius: 5px;
    }
  }

  /* cards part start */
  .cards {
    width: 290px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.376);
  }

  /* cards part start */
}

@media(width <=640px) {
  .productT {
    margin-top: 40px;
    font-size: 35px;
    margin-left: 90px;
  }

  .procductContainer {
    grid-template-columns: auto;
  }

  .ProductPart {
    margin: 0 auto;
    width: 420px;
  }

  /* cards part start */
  .cards {
    width: 420px;
    /* height: 500px; */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.376);

    & .information {
      width: 100%;
      height: 100%;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

      & span {
        background: black;
        color: white;
        padding: 5px;
        font-size: 14px;
        border-radius: 5px;
      }

      & .imgContainer img {
        width: 100%;
        height: 330px;
        margin: 15px 0;

        & img {
          width: 100%;
          height: 100%;
        }

      }

      & .productName {
        margin-bottom: 5px;
      }

      & .productDescribtion {
        color: #838383;
        margin: 10px 0;
      }

      & .pricrElm {
        display: flex;
        width: 40%;
        justify-content: space-between;
        font-size: 22px;
      }

      & .productQuantityElm {
        align-items: center;
        display: flex;
        justify-content: space-between;
        font-size: 18px;

        & .stoctElm {
          display: flex;
        }

        & .stoctElm button {
          border: 1px solid #232323;
          padding: 5px;
          font-size: 18px;
          font-weight: 700;
          width: 60px;
        }

        & .stoctElm p {
          border: 1px solid #232323;
          padding: 5px;
          font-weight: 700;
          width: 60px;
          text-align: center;
        }
      }

      & .addTocart {
        background: #1a1a1a;
        color: whitesmoke;
        padding: 15px 25px;
        border-radius: 5px;
        margin-top: 10px;
      }

      & .productRting i {
        color: rgb(255, 206, 27);
        font-size: 10px;
      }
    }
  }

  /* cards part start */
}

@media(width <=440px) {
  .editorial {
    display: block;
    width: 100%;
    height: 50px;
    margin: 0;
    z-index: 5;
    bottom: 0;
    position: absolute;
  }

  .procductContainer {
    grid-template-columns: auto;
  }

  .ProductPart {
    margin: 0 auto;
    width: 420px;
  }

  /* cards part start */
  .cards {
    width: 420px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.376);
  }

  /* cards part start */
}

/* Responsive Part End */